body {
    font-family: Arial, sans-serif;

    background-color: #ffc5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    
}
.img{
    height: 100px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffecf1 ;
    border-radius: 20px 20px 0 0;
}
.img img{
    width:80px;
    height: 80px;
    border-radius: 50px;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;
    background-color: #ffecf1;
    border-radius: 0 0 20px 20px;
    
}



.tex {
    margin-bottom: 20px;
}

.botoes {
    display: flex;
    gap: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button a {
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}
