    body {
    font-family: Arial, sans-serif;
    background-color: #fcb4d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #e75480;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}

.button {
    margin-top: 10px;
    padding: 10px  20px;
    text-align: center;
    background-color:  #4CAF50;
}

.button a {
    text-decoration: none;
    color: #fff;
}
.modal {
    display: none; /* Ocultar por padrão */
    position: fixed; /* Permanecer fixo na tela */
    z-index: 1; /* Ficar em cima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centralizar o modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do conteúdo do modal */
  }